{% extends('SingzCoreBundle::layout.html.twig') %}

{% block title %}
    Erreur {{ status_code }} - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div style="text-align:center">
        	<h1>{{ status_code }} <small>{{ status_text }}</small></h1>
        	Page non trouvée.
        </div>
	</div>
{% endblock %}