/*overlap badge*/
.badge-notify{
   background:red;
   position:relative;
   top: -10px;
   left: -15px;
}

/* override NProgress */
#nprogress .bar {
	background: #d94f5c
}
#nprogress .peg {
	box-shadow: 0 0 10px #d94f5c, 0 0 5px #d94f5c;
}
#nprogress .spinner-icon {
	border-top-color: #d94f5c;
  	border-left-color: #d94f5c;
}