{% extends "SingzCoreBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}
	<div class="text">SINGZ IS COMING SOON</div>
	<div class="social"><a href="https://www.facebook.com/SingzFrance/" target="_blank"><img src="{{ asset('images/facebook-32.png')}}"></a></div>
	{% block end_javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
		<script src="{{ asset('js/script.js') }}"></script>
	{% endblock %}
{% endblock %}
