parameters:
    # Database information
    database_host: ~
    database_port: ~
    database_name: ~
    database_user: ~
    database_password: ~
    # Mail server information
    mailer_transport: ~
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~
    mailer_auth_mode: ~
    mailer_port: ~
    # Symfony hash secret code
    secret: ~
    # FFMPEG bundle - binaries path
    # Download them here: https://ffmpeg.zeranoe.com/builds/
    ffmpeg_binary: C:/Programes/Ffmpeg/bin/ffmpeg.exe
    ffprobe_binary: C:/Programes/Ffmpeg/bin/ffprobe.exe
    # Paypal credentials
    paypal_client_id: ~
    paypal_secret: ~
    # Websocket server
    websocket_port: ~
    websocket_host: ~