parameters:
    # Database information
    database_host: ~
    database_port: ~
    database_name: ~
    database_user: ~
    database_password: ~
    # Mail server information
    mailer_transport: ~
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~
    mailer_auth_mode: ~
    mailer_port: ~
    # Symfony hash secret code
    secret: ~
    # FFMPEG bundle - binaries path
    ffmpeg_binary: ~
    ffprobe_binary: ~