<style>
	section.error{
		text-align:center
	}
</style>

<section class="error">
    <h1><i class="fa fa-microphone-slash fa-fw" aria-hidden="true"></i> Oopz!</h1>
    <p class="error-text">
    	{# Message inserted via Javascript #}
    </p>
</section>