{% for publication in publications %}
	<div class="col-md-4">
    	{% include 'SingzSocialBundle:Publication:publication.html.twig' with {
            'publication': publication
        } %}
	</div>
{% endfor %}