body{
    color: white;
    font-size: 96px;
    font-family: 'Amatic SC', cursive;
}

.text{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.social{
    position: absolute;
    left: 50%;
    text-align: center;
    bottom: 5%;
}
